@import "tailwindcss";

nav {
  font-family: monospace;
}
.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.orange_gradient {
  background: linear-gradient(to right, #f59e0b, #ea580c, #facc15);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Tailwind Styles */

.app {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 640px) {
  .app {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.black_btn {
  border-radius: 9999px;
  border: 1px solid black;
  background-color: black;
  padding: 0.375rem 1.25rem;
  color: white;
  text-align: center;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.black_btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.outline_btn {
  border-radius: 9999px;
  border: 1px solid black;
  background-color: transparent;
  padding: 0.375rem 1.25rem;
  color: black;
  text-align: center;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.outline_btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.head_text {
  margin-top: 1.25rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
  color: black;
}

@media (min-width: 640px) {
  .head_text {
    font-size: 3.75rem;
  }
}

.orange_gradient {
  background: linear-gradient(to right, #f59e0b, #ea580c, #facc15);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green_gradient {
  background: linear-gradient(to right, #4ade80, #22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue_gradient {
  background: linear-gradient(to right, #2563eb, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  color: #4b5563;
  max-width: 42rem;
}

@media (min-width: 640px) {
  .desc {
    font-size: 1.25rem;
  }
}

.search_input {
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
  background-color: white;
  padding: 0.625rem 3rem 0.625rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Satoshi", sans-serif;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  outline: none;
}

.search_input:focus {
  border-color: black;
  box-shadow: none;
}

.copy_btn {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: inset 10px -50px 94px rgba(199, 199, 199, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.glassmorphism {
  padding: 1.25rem;
  border-radius: 0.75rem;
  border: 1px solid #e5e7eb;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: inset 10px -50px 94px rgba(199, 199, 199, 0.2);
}

.prompt_layout {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 640px) {
  .prompt_layout {
    column-count: 2;
    column-gap: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .prompt_layout {
    column-count: 3;
  }
}

.feed {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.form_textarea,
.form_input {
  width: 100%;
  display: flex;
  border-radius: 0.3rem;
  padding: 4px 15px;
  font-size: 0.875rem;
  color: #6b7280;
  border: 1px solid #c7c7c7;
  background-color: rgb(255, 255, 255);
}

.form_textarea {
  height: 60px;
}

.logo_text {
  display: none;
}

@media (min-width: 640px) {
  .logo_text {
    display: inline;
  }
}

.logo_text {
  font-family: "Satoshi", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: black;
  letter-spacing: 0.05em;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.75rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
  background-color: white;
  min-width: 210px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
  justify-content: flex-end;
}

.dropdown_link {
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  color: #374151;
  font-weight: 500;
  transition: color 0.3s;
}

.mobile_menu:active {
  transform: scale(0.8);
  transition: transform ease-in-out 0.1s;
}

.dropdown_link:hover {
  color: #6b7280;
}

.prompt_card {
  flex: 1;
  break-inside: avoid;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  background-color: rgba(255, 255, 255, 0.2);
  background-clip: padding-box;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  backdrop-filter: blur(10px);
  width: 100%;
  height: fit-content;
}

@media (min-width: 768px) {
  .prompt_card {
    width: 360px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uploader_img {
  background: linear-gradient(to right, #2564eb, #06b5d4);
  cursor: pointer;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.343);
}
.uploader_img:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.343);
  transform: scale(0.95);
}

.glassmorphism_btn {
  padding: 20px;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: inset 10px -50px 94px rgba(199, 199, 199, 0.2);
}

@media (max-width: 974px) {
  .glassmorphism_btn {
  padding: 16px;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: inset 10px -50px 94px rgba(199, 199, 199, 0.2);
}
}
.resource_preview{
  border: 1px solid #c7c7c7;
}

